/* Existing styles remain the same */

/* Media query for screens smaller than 768px (typical for mobile devices) */
@media (max-width: 768px) {
  main {
    margin: 10px;
    flex-direction: column; 
  }

  .episode {
    width: 100%; /* Full width for smaller screens */
  }
}

* {
  box-sizing: border-box;
  
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  
}

body {
  font-family: sans-serif;
  margin: 0;
}

header {
  display: flex;
  background-color: #542f78;
  color: #fff;
  align-items: center;
  flex-direction: column;
  padding: 10px;

}

nav ul {
  display: flex;
  align-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;

}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.episode {
  background-color: #eee;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  flex-wrap: wrap;
  /*  
  width: calc(30% - 20px); */ /* Adjusted width to include margin */
  box-sizing: border-box;  
  
}

.episode h2 {
  font-size: 20px;
  margin-top: 0;
}

.episode img {
  display: block;
  margin-bottom: 10px;
  width: 100%;    /* Make the image fill its container */
  height: auto;
  border-radius: 5px; 
}

p {
  white-space: pre-line;
}