@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }
}

body {
  background-color: black;
  margin: 0px;
}

.subh1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: #542f78;
  color: #fff;
  text-align: center;
  padding: 20px;
  grid-column: span 2;
  font-family: belanosima;
  margin: 0px;
}

.cajones {
  width: 300px;
  height: 60px;
  display: grid;
  margin: 0;
  grid-template-columns: 60px 200px;
  gap: 20px;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
  /*border-radius: 8px;*/
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);*/
  margin: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;

  background-size: 200% 100%;
  transition: background-position 1s ease;
  background-image: linear-gradient(to left, #fff 50%, #542f78 50%);
}


.cajones:hover {
  background-position: 100% 0;
  color: #542f78;
}

.text-container a:hover {
  color: #542f78;
}


.text-container {
  padding: 5px;
  padding-left: 0px;
  padding-right: 20px;
  font-size: 17px;
  font-family: open sans;
  font-weight: bold;
  max-width: 100%;
  
}

a {
  color: #fff;
  text-decoration: none;
  padding-right: 50px;
  
}

.thumbnail-container {
  width: 60px;
  height: 60px;
  grid-column: 1 / span 1; 
  align-self: center; 
  padding-left: 10px;

}

.thumbnail-container a {
  display: block; /* Added this property to make the link a block-level element */
  width: 100%;
  height: 100%;
}

.text-container a {
  display: inline-block; /* Cambiado a inline-block */
  width: 100%;
  height: 100%;
  padding: 0 10px; /* Añade espacio alrededor del enlace */
}
