body {
    background-color: black;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #000000;
 /* position: relative;*/
  justify-content: center;
}

header a img {
  width: 100px;
  height: 100px;
  margin: 0px;
  /*position: absolute;*/ 
  z-index: 2;
}

.derecha{
  display: flex;
  font-family: 'belanosima';
  padding: 0px;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  /*list-style: none;*/
  margin: 0;
  padding-bottom: 5px;
  padding-left: 0px;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.containerminis{
  display: flex;

}
.minibox {
      display: flex;  
      flex-direction: column; 
      background-color: red;
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
      margin: 10px;
      max-width: 200px;
    }
    
.minibox a {
      max-width: 200px;
      max-height: auto;
    }

    .minibox h2 {
      font-size: 25px;
      margin: 0;
      font-family: teko;
      text-align: justify;
      letter-spacing: 2px;
      text-align: center;
    }
    
    .minibox img {
      flex: 1;
      display: block;
      width: 100%;
      height: auto;
      border-radius: 5px;
      transition: filter 0.5s ease;
    
    }

    
    .minibox img:hover {
        filter: brightness(2.0) hue-rotate(15deg);
        
    }
    
    .minibox img:active {
        filter: brightness(1.5) hue-rotate(0deg) saturate(200%) contrast(150%);
    }
    

    p {
      text-align: center;
      margin-top: 0px;
      font-size: 17px;
      white-space: pre-line;
      margin-left: 0px;
    }
    
    p a {
      text-decoration: none;
      color: #56070C;
    }
  
    .containerminis {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 700px;
      max-height: auto;
      justify-content: center; 
      align-items: center;
    }
  
    
  
    .chapter-image img {
      width: 100%; 
      height: auto;
      
    }
  
    
  
  @media only screen and (max-width: 600px) {
      .containerminis {
          flex-direction: column;
      }
  
      .minibox {
          max-width: 100%;
      }
      .minibox h2{
          font-size: 30px;
          letter-spacing: 2px;
          border: 10px;
          width: 100%;
          
      }
  
      .minibox p {
          font-size: 16px;
      }
    
        header {
          display: flex;
          flex: 1;
          padding: 10px;
          padding-bottom: 0px;
        }
      
        header a img {
          width: 80px;
          height: 80px;
        }
      
        h1 {
          font-size: 35px;
        }
      
        nav ul {
          font-size: 12px;
          display: flex;
          flex-direction: row;
          align-items: center; 
          margin: 0;
          padding: 5px;
          list-style: none;
        }
        
        nav li {
          margin: 0 5px;
        }
      

      }
      
      
